@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box;}
button{cursor: pointer;}
*:active, *:focus{outline: none;}
body, button, select{font-family: 'Roboto Condensed', sans-serif;}
ul{list-style: none;}
a{text-decoration: none; color: inherit;}
.container-wrapper, .container, .container-inner{max-width: 900px; margin: 0 auto;}
.container{max-width: 750px;}
.container-inner{max-width: 600px;}
.single-line{overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

/* .app{min-height: 100vh;} */

.navigation{padding: 10px 10px; border-bottom: 1px solid #DDDDDD;}
.navigation-inner, .navigation-inner .nav-items, .search-box, .download-item, .video-desc, .download-button, .footer-inner, .subscribe-box{display: flex; justify-content: space-between; align-items: center;}
.navigation .nav-item{padding: 0 10px; font-size: 18px; font-weight: normal;}

.body-items .container-inner{margin: 80px auto 60px auto;}
.body-items .body-heading{font-size: 24px; font-weight: bold; margin-bottom: 10px; text-align: center;}
.body-items a.inner-a{color: #5227FF; text-decoration: underline;}
.body-items .search-tos, .video-timing, .video-title{font-size: 14px; font-weight: lighter; margin-top: 3px;}
.body-items .search-box .search{flex: 1;}
.body-items .search-button, .subscribe-box .subscribe-button{margin-left: 5px;}
.search-box .search, .subscribe-box .subscribe{padding: 5px; background-color: #5227FF;}
.body-items .search-box .search .search-input{width: 100%; font-size: 18px;}
.body-items .search-button .search-btn, .download-button .download-btn, .subscribe-box .subscribe-btn{background-color: #5227FF; border: 2px solid #5227FF; font-size: 18px; font-weight: bold; color: #fff; padding: 0 25px;}
.body-items .search-box .search .search-input, .search-button .search-btn, .subscribe-box .subscribe-input{height: 45px;}
.search-button .search-btn, .subscribe-box .subscribe-btn{height: 55px; width: 100%;}
.subscribe-box .subscribe-input{height: 35px;}
.subscribe-box .subscribe-btn{height: 45px;}

.body-items .container .body-heading{font-size: 18px; color: #5227FF; margin-bottom: 25px;}
.recomendations{padding: 10px; background-color: #EEEEEE; font-size: 16px; text-align: center; margin-top: 25px;}
.recomendations .inner-a{font-weight: bold;}

.download-item, .video-thumbnail img, .recomendations{border: 2px solid #CCCCCC;}
.video-thumbnail, .video-desc{height: 136px;}
.video-title{font-size: 18px; font-weight: bold;}
.video-timing{color: #AAAAAA;}
.video-thumbnail img{width: 180px; border-color: #fff;}
.download-item, .video-desc{justify-content: flex-start; align-items: flex-start;}
.video-desc{flex: 1; padding: 10px; flex-direction: column; justify-content: space-between;}
.video-desc, .video-data{width: calc(100% - 0px);}

.download-button{width: 100%;}
.download-button .download-btn{padding: 15px 25px; margin-left: 10px; flex: 1;}
.formats-selector{padding: 14px 10px; font-size: 18px; background-color: #eee; color: #000; border: 2px solid #ccc; width: 100%;}

.footer{margin-top: 50px; border-top: 1px solid #DDDDDD; padding: 10px;}
.footer-inner{padding: 20px 0px; align-items: flex-start;}
.subscribe-tos{font-size: 14px; margin-bottom: 10px; font-weight: bold;}
.copyrights{font-size: 12px; color: #AAAAAA; margin-top: 3px;}

@media (max-width: 767px){
    .search-box, .download-item, .video-desc, .download-button, .footer-inner, .subscribe-box{flex-direction: column; align-items: center;}
    .footer-inner{align-items: flex-start;}
    .search-box .search, .search-box .search-button, .search-box, .video-desc, .download-button, .video-thumbnail img, .formats, .video-desc, .video-data, .download-button .download-btn, .subscribe-box, .subscribe-box .subscribe, .subscribe-input, .footer-inner .left, .subscribe-button{width: 100%;}
    .video-thumbnail, .video-desc{height: auto;}
    .search-box .search-button, .download-button .download-btn, .subscribe-box .subscribe-button{margin-left: 0; margin-top: 10px;}
    .download-item{margin: 0 10px;}
    .recomendations{margin: 25px 10px;}
    .body-items .search-tos, .download-button, .footer-inner .right{margin-top: 15px;}
    .search-container{padding: 10px;}
}